ul{
    text-align: center;
    position: relative;
    bottom: 25px;
}
li a{
    color: black;
    text-decoration: none;
}
li{
    background-color: white;
    font-size: 30px;
    display: inline-block;
    padding: 21px 55px 15px 55px; 
    border-right: solid #D5C7BC; /* Idea to make black */
    border-left: solid #D5C7BC;
}
#no-right-border{
    border-right: none;
}
#additional-left-border{
    border-left: solid #D5C7BC;
}
li:hover #no-right-border{
    border-radius: 0px 30px 30px 0px;
}
li:hover{
    background-color: #DEE8D5;
    background-size: 100%;
    /* border-radius: 0px 30px 30px 0px; */
}
nav{
    margin-right: auto;
    margin-left: auto;
    width: 1380px;
    height: 74px;
    background-color: white;
    border: solid #DEE8D5; /*idea to remove border completely*/
    border-radius: 30px;

}
.main-logo{
    position: relative;
    top: 15px;
    left: -30px;
    height: 60px;
    width: 60px;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}